/*
 * Author: Nate Hascup, Duck Nguyen
 * Filename: admin.css
 * Description: styling for admin page
 */

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    TOP NAVIGATION 
----------------------------------------------------- */
.navbar-brand img{
	width:55px;
	height:55px;
	filter:invert(100%); /* just checking if white logo looks better*/
}
.navbar-brand .nav-item{
	margin-right:0.5em;
}
.navbar-nav .nav-item.active > a > button{
	background:#01579B;
}
.navbar-nav .nav-item a button{
	width:55px;
	height:50px;
	font-size:1.6em;
	color:#fff;
}
.navbar-nav .nav-item a button:hover{
	color:#007bff;
	background:#fff;
}

/* ---------------------------------------------------
    BODY - ACTIVE PROJECTS 
----------------------------------------------------- */
.card .btn.btn-title{
	background:#DCAE10;
	color:white;
}
.card .d-inline-block {
	/*background:#00303F;*/
	background:#F7F5E6;
}
.card .d-inline-block a .btn {
	width:60px;
	height:40px;
	margin: 0.5em 0.5em;
	/*background:#00303F;*/
	background:#F7F5E6;
	border:1px solid #52658F;
}
.card .d-inline-block a .btn:hover{
	border:2px solid #ffc107;
}
.card .d-inline-block a .btn .fa {
	font-size: 1.3em;
	/*color:#DCAE10;*/
	color:#333A56;
	
}

/* ---------------------------------------------------
    BODY - INACTIVE PROJECTS 
----------------------------------------------------- */
.portfolio {
  width: 100%;
  height: 100%;
  padding-top:50px;
  margin-top:50px;
}

#inactive-div{
	padding-top:10px;
	padding-bottom:50px;
	margin-bottom:50px;
}

#inactive-div .list-group-item:hover{
	background: #007bff;
	color:#333A56;
	color:#fff;
	border:2px solid #ffc107;
}