/*
 * Author: Nate Hascup, Duck Nguyen
 * Filename: admin.css
 * Description: styling for admin home page
 */

/* ---------------------------------------------------
    BODY - ACTIVE PROJECTS 
----------------------------------------------------- */
.card-columns{
	margin-top:-1em;
}

@media (min-width:34em) {
    .card-deck > .card
    {
        width: 30%;
        flex-wrap: wrap;
        flex: initial;
        
    }
}

.card{
	margin-top: 2em;
	border-bottom: 1px groove #DCAE10;
	border-left: 1px groove #DCAE10;
	border-right: 1px groove #DCAE10;
    
    /*flex: 0 0 100px;*/
    
}
.card .btn.btn-title{
	background:#DCAE10;
	color:white;
	text-overflow: ellipsis;
	
	white-space: nowrap;
	overflow: hidden;
}
.card .btn.btn-title:hover{
	cursor: pointer;
}

.card .d-inline-block {
	/*background:#00303F;*/
	background:#F7F5E6;
	border-bottom: 1px groove #DCAE10;
	padding-top:6px;
	padding-bottom:4px;
    width: 100%;
}
.card .d-inline-block a .dropdown{
	display: inline-block;
}
.card .d-inline-block a .btn {
	display: inline-block;
	width:55px;
	height: 40px;
	margin: 0.5em 0.2em;
	/*background:#00303F;*/
	background:#F7F5E6;
	border:1px solid #52658F;
}
.card .d-inline-block a .btn:hover{
	border:2px solid #ffc107;
	cursor:pointer;
}
.card .d-inline-block a .btn .fa {
	font-size: 1.2em;
	/*color:#DCAE10;*/
	color:#333A56;
}