/*
 * Author: Nate Hascup, Duck Nguyen
 * Filename: admin.css
 * Description: styling for admin home page
 */

/* ---------------------------------------------------
    BODY - ACTIVE PROJECTS 
----------------------------------------------------- */
#active-div{
	margin-bottom: 1em;
}
.card-columns{
	margin-top:-1em;
}

@media (min-width:34em) {
    .card-deck > .card
    {
        width: 40%;
        flex-wrap: wrap;
        flex: initial;
		display: block;
		margin: 2em auto;
    }
}
.card{
	border-bottom: 1px groove #DCAE10;
	border-left: 1px groove #DCAE10;
	border-right: 1px groove #DCAE10;
    
    /*flex: 0 0 100px;*/
    
}
.card .btn.btn-title{
	background:#DCAE10;
	color:white;
	text-overflow: ellipsis;
	
	white-space: nowrap;
	overflow: hidden;
}
.card .btn.btn-title:hover{
	cursor: pointer;
}

.card .d-inline-block {
	/*background:#00303F;*/
	background:#F7F5E6;
	border-bottom: 1px groove #DCAE10;
	padding-top:6px;
	padding-bottom:4px;
    width: 100%;
}
.card .d-inline-block a .dropdown{
	display: inline-block;
}
.card .d-inline-block a .btn {
	display: inline-block;
	width:55px;
	height: 40px;
	margin: 0.5em 0.2em;
	/*background:#00303F;*/
	background:#F7F5E6;
	border:1px solid #52658F;
}
.card .d-inline-block a .btn:hover{
	border:2px solid #ffc107;
	cursor:pointer;
}
.card .d-inline-block a .btn .fa {
	font-size: 1.2em;
	/*color:#DCAE10;*/
	color:#333A56;
}
.card .card-body{
	margin-bottom: 2.5em;
}

.card .card-footer{
	position: absolute;
	bottom:0;
	left:0;
	right:0;
}

.card .nav-item {
    background:#F7F5E6;
}

.card .nav-tabs {
    background:#F7F5E6;
}

.nav-item:active {
    background:white;
}

.card .nav-item:hover{
	border-left:2px solid #ffc107;
    border-right: 2px solid #ffc107;
    border-top:2px solid #ffc107;
	cursor:pointer;
}