/*
 * Author: Duck Nguyen
 * Date: 10/13/12
 * Filename: home.css
 * Description: Style page used to customize home page for Cascadian Landworks
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body, html{
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
	height:100%;
background-image: url('http://www.cascadianlandworks.com/wp-content/uploads/2016/07/IMG_5192.jpg');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top:0;
}

.card-container.card {
    max-width: 700px;
    padding: 40px 40px;
}
.card-img-top{
	height:14em;
	width:14em;
	display: block;
	margin:1em auto;
}
.btn, .btn > a {
    font-weight: 700;
    color: #FEFEFE;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/* ---------------------------------------------------
    CARD COMPONENTS
----------------------------------------------------- */
.card {
    background-color: #FEF9E7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px auto;
    margin-top: 100px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

/* ---------------------------------------------------
    FORM STYLES
----------------------------------------------------- */
.form-track button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-track .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-track {
    background-color: #7386D5;
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-track:hover,
.btn.btn-track:active,
.btn.btn-track:focus {
    background-color: #303F9F;
}