/*
 * Author: Duck Nguyen
 * Filename: tracking.css
 * Description: styling for tracking page
 */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
    background: #fafafa;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.targetDiv{
    width: 100%;
}
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
	align-items: stretch;
	position: relative;
}
#sidebar {
    min-width: 98px;
    max-width: 98px;
    text-align: center;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
	position:relative;
}

#sidebar .sidebar-header img{
    height:101px;
	width:98px;
	background:#fafafa;
	padding:7px;
}

#sidebar ul.components {
    padding: 0 0 15px 0;
    border-bottom: 1px solid #5C6BC0;
}

#sidebar ul li a {
	position: relative;
    padding: 20px 10px;
    text-align: center;
    font-size: 0.9em;
	display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
	cursor: pointer;
}
#sidebar ul li.active > a {
    color: #fff;
    background: #303F9F;
}
#sidebar ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.9em;
    margin-bottom: 5px;
}
#sidebar ul li a .test{
	border:5px solid red;	
	
}

#sidebar #sidebarCollapse .fa {
	font-size:2.5em;
}

#sidebar #sidebarCollapse .fa-long-arrow-right {
	display: none;
}

/* ---------------------------------------------------
    TOGGLING NOTIFICATION
----------------------------------------------------- */
#sidebar ul li a .notification{
	position: absolute;
    top: -3px;
    right: -7px;
	padding:8px;
	border-radius:45%;
    background-color: rgba(212, 19, 13, 1);
    color: #fff;
    height:15px;
}
.recently-updated{
	border:3px solid #F1C40F;
}
/* ---------------------------------------------------
    TOGGLING NAVIGATION
----------------------------------------------------- */
#sidebar.navigation-toggle{
    display: none;
	width:4em;
}
.btn.btn-navigation-toggle,
.btn.btn-guide{
    background: #7386D5;
    border-color: #7386D5;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-navigation-toggle:hover,
.btn.btn-navigation-toggle:focus,
.btn.btn-guide:hover,
.btn.btn-guide:focus {
    border-color: #7386D5;
    background: #7386D5;
}

/* ---------------------------------------------------
    RESIZING STYLE
----------------------------------------------------- */
#sidebar.resize .sidebar-header img{
	height:63px;
	width:60px;
	transition: all 0.3s;
}
#sidebar.resize{
    min-width: 60px;
    max-width: 60px;
    transition: all 0.3s;
}

#sidebar.resize ul li a i {
	font-size: 2em;
}

#sidebar.resize ul li a .nav-text {
	display: none;
}

#sidebar.resize #sidebarCollapse .fa-long-arrow-right {
	display: block;
}
#sidebar.resize #sidebarCollapse .fa-long-arrow-left {
	display: none;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.progress {
	height:36px;
	padding-top:1px;
	padding-bottom:1px;
}
.progress-bar{
	padding-top:6px;
}
.progreess:hover,
.progress-bar:hover{
	cursor:default;
}

.progress-bar-warning{
    background-color: white;
}
#content {
    position: relative;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    flex:1;	
}

.table>thead>tr>th{
	font-size:20px;
}
.table>tbody>tr>td{
	font-size:16px;
} 

/* ---------------------------------------------------
    DOCUMENT TAB
----------------------------------------------------- */
.document-box{
	width:30em;
	margin-top:1em;
}
.document-box a .imgholder,
.document-box a .btn-download{
	display: block;
	margin-left:auto;
	margin-right:auto;
}
.document-card{
	padding: 25px 0;
	background-color: #F7F5E6;
}
.document-box .card{
	border-top:3px solid #7386D5;
	border-bottom:3px solid #7386D5;
	border-left:2px solid #7386D5;
	border-right:2px solid #7386D5;
}
.document-box .recently-updated{
	border:5px solid #F1C40F;
}
.document-box .document-card iframe{
	display: block;
	width:22em;
	height:20em;
	margin:1.5em auto;
}
.imgholder{
	height:420px;
	width:90%;
}
.construction-img{
    width: 300px;
    height: 200px;
}
/* ---------------------------------------------------
    CONSTRUCTION TAB
----------------------------------------------------- */
.construction-item{
	margin-top:1em;
	margin-bottom:1em;
	padding:15px;
}

/* ---------------------------------------------------
    PUNCH LIST TAB
----------------------------------------------------- */
.punch-list-item{
	padding:5px;
}
.punch-list-item .fa-check-square-o {
	color:#5cb85c;
}
.punch-list-item .fa-square-o{
	color:#d9534f;
}
/* ---------------------------------------------------
    ACCEPTANCE TAB
----------------------------------------------------- */
.acceptance{
	padding:10px;
}
.acceptance img{
	margin-top:1em;
	height:250px;
	width:250px;
}
#accepted{
	color:#5cb85c;
}
#unaccepted{
	color:#f0ad4e;
}
#accepted .fa,
#unaccepted .fa{
	font-size:40px;
}

/* ---------------------------------------------------
    BACK TO TOP BUTTON
----------------------------------------------------- */
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}
.wrapper1{
	padding:0;
	margin-left:0;
}

.wrapper1 >a.col-sm-4{
	margin-left:0;
	padding:10px;
}
.wrapper1 >a > img{
	height:400px;
	width:100%;
}